@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;0,700;1,300;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.row {
    width: 100%;
    max-width: 1280px;
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.container {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

a {
    color: rgb(36, 62, 99);
    text-decoration: none;
}



li {
    list-style: none;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.purple {
    color: rgb(100, 21, 255);
}

button {
    background-color: #6415ff;
    border-width: 0;
    border-radius: 50px;
    padding: 12px 32px;
    color: rgb(247, 250, 252);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

/* 

NAVBAR

*/

.light__navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding-bottom: 4px;
    font-weight: 900;
    font-size:24px !important;
    margin-left: 0 !important;
    margin: 0 24px;
}

.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 12px;
}

.nav__link {
    font-weight: 500;
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 14px;
    letter-spacing: 0.025em;
    transition: all 300ms ease;
    border-bottom: 2px transparent solid;
}

.nav__login {
    margin-left: 48px;
}

.nav__signup {
    margin: 0 !important;
    padding: 12px 32px;
    background-color: #6415ff;
    color: #fff;
    border-radius: 50px;
}

/*

HEADER

*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 48px;
    text-align: left;
    font-weight: 700;
}

.header__para {
    font-size: 18px;
    margin:32px 0;
    line-height: 1.8;
    color: #243e63;
}

.header__description{
    width: 60%;
}

.header__email {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
}

.header__email-input {
    width: 100%;
    padding: 22px 192px 22px 32px;
    border-radius: 9999px;
    font-size: 100%;
    font-weight: 500;
    border: 2px solid #e5e7eb
}

.header__email-button {
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 160px;
    line-height: 1;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 16px 0;
    font-size: 100%;
    border: 0px;
}

.header__customers {
    margin-top: 48px;
}

.header__customers-para {
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 700;
    color: rgb(160, 174, 192);
}

.customers__img {
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
    padding-right: 128px;
}

.right__column {
    width: 100%;
}

.header__img {
    width: 100%;
    height: auto;
}

/*

FEATURES

*/

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px !important;
}

.features__title {
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.features__header {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #243e63;
}

.features__para {
    font-size: 18px;
    margin-top: 18px;
    width: 100%;
    max-width: 576px;
    text-align: center;
    line-height: 1.625;
    font-weight: 500;
    color:  rgb(124,139,161);
}

.features__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1020px;
}

.features__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 32px 24px;
    height: 100%;
    width: calc(100%/3);
}

.features__img-container {
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
}

.features__text-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.features__box-title {
    text-align: left;
    font-size: 24px;
    line-height: 2;
}

.features__box-para {
    text-align: left;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    color: rgb(124,139,161);
}

/* 

QUALITY

*/ 

.quality-row {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.quality__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 64px;
    padding: 32px 0;
    width: 50%;
}

.quality__header {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 16px;
}

.quality__title {
    text-align: left;
    margin-top: 16px;
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 00.4px;
}

.quality__para {
    text-align: left;
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color:  rgb(124,139,161);
}

.quality__btn {
    margin-top: 32px;
    margin-right: auto;
}

.quality__right {
    width: 50%;
}

.quality__img {
    width: 100%;
    height: auto;
}

/* 

STEPS

*/

.steps__left {
    width: 50%;
}

.steps__img {
    width: 100%;
    height: auto;
}

.steps__right {
    width: 50%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 66px;
}

.steps__header {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: 700px;
    align-items: center;
    margin-bottom: 16px;
}

.steps__title {
    margin-top: 12px;
    text-align: left;
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.4px;
}

.steps__lists {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.step__list {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.steps__num {
    font-weight: 600;
    font-size: 32px;
    color: #cbd5e0;
}

.steps__list-text {
    margin: 4px 18px;
}

.steps__list-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.steps__list-para {
    max-width: 320px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 2;
    text-align: left;
    font-weight: 500;
    color: rgb(124,139,161);
}

/* 

VALUES

*/

.values__two-row {
    width: 100%;
    max-width: 1280px;
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.values__left {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.values__header {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 16px;
}

